@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,300&display=swap');
body{
    margin: 0;
    padding: 0;
    /* color: #1afcf8; */
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    background-color: #1d1c1b;
    background-image: url(../images/body.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

#banner{
    width: 100%;
    height: 250px;
    /* background: url(../images/banner.png) no-repeat top center;
    background-size: 100% 100%; */
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsl(246deg 93% 34% / 65%), hsl(17deg 93% 30% / 78%)), url(../images/banner1.png);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsl(246deg 93% 34% / 65%), hsl(17deg 93% 30% / 78%)), url(../images/banner1.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;

}

#header{
    width: 940px;
    height: 40px;
    margin: auto;
    padding: 0 30px;
}

#menu{
    width: 940px;
    height: 40px;
}

#menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu ul li{
    margin: 0;
    padding: 0;
    display: inline;
}

#menu ul li a{
    display: block;
    margin-right: 90px;
    height: 30px;
    float: left;
    padding: 10px 0 0 0 ; /*-> es lo mismo: padding-top:10px ; */
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}
.text-header{
    color: #fff;
    text-shadow: 1px -12px 16px #898989;
    /* -webkit-text-stroke-width: 2px; */
    /* -webkit-text-stroke-color: black;*/
}

#title{
    padding: 30px;
}

#title h1{
    font-size: 45px;
    margin: 0;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#title h2{
    font-size: 17px;
    margin: 0;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.container{
    width: 1200px;
    margin: auto;
    
    
}

#body-information{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 100%;
}

.item-info{
    width: 30%;
    /* margin-right: 30px; */
    margin-bottom: 60px;
    
}

.item-info h1{
    text-transform: uppercase;
    padding-top: 28px;
    margin: 0;
}
.item-info-title{
    height: 60px;
    display: flex;
    /* align-items:baseline; */
    
}

.item-info-title > img{
    height: 50px;
    width: 50px;
}
#main_principal{
    padding: 50px;
    
}

.section-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title > h1, .section-title > p{
    margin: 0;
}

.section-title > h1{
    font-size: 2rem;
}

.section-title > p{
    font-size: 1rem;
    width: 50%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#body-gallery{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.item-galery{
    background-color: #e5e6e8;
    width: 15%;
    padding: 50px 50px 30px 50px;
    margin-bottom: 30px;
}

.item-galery:hover{
    background-color: #936dd1;
}

.item-galery:hover > .text-item-galery > h1, .item-galery:hover > .text-item-galery > p {
    color: #fff;
}

.item-galery  img{
    width: 100%;
}

.text-item-galery{
    text-align: center;
}

.text-item-galery > h1{
    font-size: 1.5rem;
    text-transform: uppercase;
}

.text-item-galery > p{
    font-size: 1rem;
}

footer{
    height: 350px;
    background-color: #515189;
    color: #fff;
}

#content-footer{
    display: flex;
    justify-content: space-between;
}

#content-footer h1{
    text-transform: uppercase;
}

.item-footer{
    width: 30%;
    padding-right: 30px;
}

.item-text-footer > * {
    margin: 0;
    white-space: nowrap;
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-text-footer{
    border-bottom: 1px solid #fff;
    margin-bottom: 5px;
    height: 65px;
}


.item-footer:nth-child(2) p{
    text-align: justify;
    text-overflow: initial !important;
    white-space: initial !important;
}

.item-form-footer input{
    width: 97%;
}



.item-form-footer > form > *{
    margin-bottom: 10px;
}
.item-form-footer button{
    background: #8686ff;
    color: #fff;
    border-bottom: 10px;
    padding: 5px 10px 5px 10px;
    float: right;
    font-size: 1rem;
    border-radius: 15px;
}

.hp-25{
    height: 25px !important ;
}

.item-footer:nth-child(1) > .item-text-footer > a, .copyrigth>a{
    color: #ffa51f;
    font-weight: bold;
    text-decoration: none;

}

.item-footer:nth-child(3) > .item-text-footer > a{
    text-decoration: none;
    color:#fff;
    font-weight: bold;
}

.footer-icons{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100px;
    
}
.footer-icons > img{
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

.copyrigth{
    font-size: 0.9rem;
}