@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');

:root{
    --bg:#333333;
    --bg2:#2f2f2f;/*ADD DESIGN*/
    --bg3:#30302f;
    --colorOne:#ffc200;
    --ligth:#fff
}

body{
    background-color:#fff;
    font-family: 'Grand Hotel', cursive;
}

nav{
    font-family: 'Montserrat', sans-serif;
}

nav div a{
    color: #ffffff !important;
}

button,p{
    font-family: 'Montserrat', sans-serif;
}

header{
    /* background:url(../image/Design.svg),url(../image/img1.png);
    background-repeat: no-repeat,no-repeat;
    background-position: right,left;
    background-size: 52% 100%, 50% 100%; */
    /* background:url(../image/img1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50% 100%; */
    
}

/*ADD DESIGN*/
.bg-header {
    height: 100%;
    width: 100%;
    background-color: var(--bg3);
    position: absolute;
    z-index: -5;
    top: 0;
}
/*ADD DESIGN*/

.bg-left{
    background: url(../image/img1.png);
    background-repeat: no-repeat;
    /* background-position: left; */
    background-size: 90% 100%;
    height: 100vh;
    width: 55%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
}

.bg-right{
    background: url(../image/dsn.svg);
    background-repeat: no-repeat;
    background-position: right -100px;
    background-size: 100%;
    width: 62%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;    
} 

.text-title-header{
    width: 57%;
}

.text-title-header > h1{
    font-size: 8em;
    color: var(--colorOne);
}

.text-title-header > p{
    font-size: 2em;
    color: #fff;
    /* font-family: 'Montserrat', sans-serif; */
}

/*add*/
.item-best-seller{
    width: 18rem;
}

#orientalTast{
    position: relative;
}

.bg-orital-tast{
    background: url(../image/bgSection1.svg);
    height: 900px;
    background-size: 2500px;
    background-position: -170px top;
    background-repeat: no-repeat;
    z-index: -1;
    position: absolute;
    width: 100%;
    top: 0;
}

.text-title-orientalTast{
    padding-top: 210px;
    padding-left: 75px;
}


.text-title-orientalTast > h1{
    font-size: 7em;
    color: var(--colorOne);
}

.text-title-orientalTast > p {
    font-size: 1.5em;
    color: #fff;
}
/*add*/

#statistics{
    height: 850px;
    background: url(../image/bg-2.svg),var(--bg2);/*ADD DESIGN*/
    background-size: 100% 100%;/*ADD DESIGN*/
}

.title-section > h1{
    color: var(--colorOne);
    text-align: center;
    font-size: 5rem;
}

.title-section > p{
    color: #fff;
    text-align: center;
    width: 70%;
    margin: auto;
}

.item-statistics{
    height: 250px;
    width: 250px;
    border:  4px solid #fff;
    border-radius: 50%;
}

.item-statistics > p{
    color: var(--colorOne);
    font-size: 3.5rem;
    font-weight: bold;
}

.item-statistics > span{
    color: #fff;
    font-size: 2.4rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

#chiquenGrill{
    height: 850px;/*ADD DESIGN*/
    position: relative;
    
}

#bg-section-chiquenGrill{
    background: url(../image/bg-3.svg);
    background-size: 110%;/*ADD DESIGN*/
    background-position:-85px -380px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;/*ADD DESIGN*/
    position: absolute;
    z-index: -1;
}

.title-statistics{
    padding-left: 100px;
}

.title-statistics > h1{
    font-size: 5rem;
    color: var(--colorOne);
}

.title-statistics > p{
    font-size: 1.2rem;
    color: #fff;
}

.btn-primary{
    background-color: var(--colorOne) !important;
    border-color: var(--colorOne)!important;
}

.btn-primary:hover{
    background-color: var(--colorOne) !important;
    border-color: var(--colorOne)!important;
}

.btn-my-primary{
    width: 50%;
    color: var(--bg);
}

#description{    
    background: linear-gradient(90deg, hsla(46, 100%, 50%, 0.637) 0%, hsla(46, 100%, 50%, 0.637) 35%),url(../image/bg4.png);
    background-size: 100% 100%;/*ADD DESIGN*/
    background-repeat: no-repeat;
    height: 917px;
    width: 100%;
    
}

.text-p-description {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    width: 80%;
}

#subcription{
    height: 850px;
    background: url(../image/bg-2.svg),var(--ligth);
    background-size: 100% 100%; /*ADD DESIGN*/
}

.input-subcribe{
    width: 25%;
    font-family: 'Montserrat', sans-serif; 
}