body{
    font-family: 'Roboto', sans-serif;
    background-color:rgb(202, 122, 122)
}

/* p{
    color:white
} */

#ph{
    color:rebeccapurple
}

.phclass{
    color:#00685a
}

.titles{
    color:transparent;
    background-color:#09d3a7;
    background-image:repeating-linear-gradient(45deg,transparent,transparent,25px,rgba(185, 49, 49, 0.5) 25px, rgba(255,255,255,.5) 50px);
    background-clip: text;
    -webkit-background-clip: text;
    animation: color 10s linear infinite;
    /* -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden; */
    background-size: 150%;
    font-size: 70px;
    
}

@keyframes color {
    from{
        background-position: 0% 50%;
    }
    to{
        background-position: 100% 50%;
    }
}